In [1]:
import pandas as pd

In [2]:
df_tech_sp500=pd.read_csv("../../processed/tech_sp500_stable_extended_tickers.csv")

In [3]:
df_tech_sp500

,cik,name,entityType,sic,sicDescription,ownerOrg,insiderTransactionForOwnerExists,insiderTransactionForIssuerExists,tickers,exchanges,...,mailing_stateOrCountryDescription,business_street1,business_street2,business_city,business_stateOrCountry,business_zipCode,business_stateOrCountryDescription,naics,stable 12 to 24,extended tickers
0,320193,Apple Inc.,operating,3571.0,Electronic Computers,06 Technology,0,1,AAPL,Nasdaq,...,CA,ONE APPLE PARK WAY,NaN,CUPERTINO,CA,95014,CA,334111,True,"AAPL*,AAPL"
1,789019,MICROSOFT CORP,operating,7372.0,Services-Prepackaged Software,06 Technology,1,1,MSFT,Nasdaq,...,WA,ONE MICROSOFT WAY,NaN,REDMOND,WA,98052-6399,WA,"511210,334614",True,MSFT
2,1045810,NVIDIA CORP,operating,3674.0,Semiconductors & Related Devices,04 Manufacturing,1,1,NVDA,Nasdaq,...,CA,2788 SAN TOMAS EXPRESSWAY,NaN,SANTA CLARA,CA,95051,CA,334413,True,NVDA
3,1652044,Alphabet Inc.,operating,7370.0,"Services-Computer Programming, Data Processing...",06 Technology,1,1,"GOOGL,GOOG","Nasdaq,Nasdaq",...,CA,1600 AMPHITHEATRE PARKWAY,NaN,MOUNTAIN VIEW,CA,94043,CA,"518210,541511",True,"GOOG,GOOGL,GOOG*"
4,1326801,"Meta Platforms, Inc.",operating,7370.0,"Services-Computer Programming, Data Processing...",06 Technology,0,1,"META,FB",Nasdaq,...,CA,1 META WAY,NaN,MENLO PARK,CA,94025,CA,"518210,541511",False,"FB*,FB,META"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,78814,PITNEY BOWES INC /DE/,operating,3579.0,"Office Machines, NEC",06 Technology,0,1,"PBI,PBI-PB","NYSE,NYSE",...,CT,PITNEY BOWES INC,3001 SUMMER STREET,STAMFORD,CT,06926-0700,CT,"339940,333318,334519",False,"PBI,PBI-PB"
120,1770450,Xerox Holdings Corp,operating,3577.0,"Computer Peripheral Equipment, NEC",06 Technology,0,1,XRX,Nasdaq,...,CT,201 MERRITT 7,NaN,NORWALK,CT,06851,CT,"334418,333316,334613,334118",False,XRX
121,61986,MANITOWOC CO INC,operating,3531.0,Construction Machinery & Equip,06 Technology,1,1,MTW,NYSE,...,WI,11270 WEST PARK PLACE,SUITE 10000,MILWAUKEE,WI,53224,WI,"333120,333923,336510",False,MTW
122,1881551,Solidion Technology Inc.,operating,3690.0,"Miscellaneous Electrical Machinery, Equipment ...",04 Manufacturing,0,1,STI,Nasdaq,...,TX,13355 NOEL ROAD,SUITE 1100,DALLAS,TX,75240,TX,"333618,333318,333992,335129,335999",False,STI
123,1621672,"Super League Enterprise, Inc.",operating,7373.0,Services-Computer Integrated Systems Design,06 Technology,0,1,SLE,Nasdaq,...,CA,"2912 COLORADO AVE, STE 203",NaN,SANTA MONICA,CA,90404,CA,541512,False,SLE

In [4]:
df_his_weight=pd.read_csv("../../processed/his_weight_tech_500_12_24_in_progress.csv")

In [5]:
df_his_weight

,date,rank,ticker,name,sector,weight
0,2012-04-30,1.0,AAPL*,APPLE INC,Information Technology,4.306649
1,2012-04-30,3.0,IBM,INTERNATIONAL BUSINESS MACHINES CO,Information Technology,1.896926
2,2012-04-30,4.0,MSFT,MICROSOFT CORP,Information Technology,1.890466
3,2012-04-30,7.0,T,AT&T INC,Telecommunication Services,1.542570
4,2012-04-30,15.0,GOOGL,GOOGLE INC CLASS A,Information Technology,1.213489
...,...,...,...,...,...,...
237258,2024-10-30,485.0,HAS,HASBRO INC,Consumer Discretionary,0.017720
237259,2024-10-30,489.0,PAYC,PAYCOM SOFTWARE INC,Industrials,0.017020
237260,2024-10-30,496.0,QRVO,QORVO INC,Information Technology,0.014060
237261,2024-10-30,500.0,PARA,PARAMOUNT GLOBAL CLASS B,Communication,0.012860
237262,2024-10-30,501.0,FOX,FOX CORP CLASS B,Communication,0.010430

In [10]:
df_his_weight_14_24=df_his_weight[df_his_weight.date>"2013-12-31"]

In [11]:
df_his_weight_14_24

,date,rank,ticker,name,sector,weight
26936,2014-01-02,1.0,AAPL*,APPLE INC,Information Technology,3.038308
26937,2014-01-02,3.0,GOOGL,GOOGLE INC CLASS A,Information Technology,1.906967
26938,2014-01-02,4.0,MSFT,MICROSOFT CORP,Information Technology,1.723382
26939,2014-01-02,13.0,IBM,INTERNATIONAL BUSINESS MACHINES CO,Information Technology,1.156141
26940,2014-01-02,14.0,T,AT&T INC,Telecommunication Services,1.124044
...,...,...,...,...,...,...
237258,2024-10-30,485.0,HAS,HASBRO INC,Consumer Discretionary,0.017720
237259,2024-10-30,489.0,PAYC,PAYCOM SOFTWARE INC,Industrials,0.017020
237260,2024-10-30,496.0,QRVO,QORVO INC,Information Technology,0.014060
237261,2024-10-30,500.0,PARA,PARAMOUNT GLOBAL CLASS B,Communication,0.012860
237262,2024-10-30,501.0,FOX,FOX CORP CLASS B,Communication,0.010430

In [13]:
len(df_his_weight_14_24.date.unique())

2577

2577 is the number of unique dates between 2014 and 2024 (when there is stock data).

In [27]:
lst_tics_tech_500_set=[set(str_ele.split(",")) for str_ele in list(df_tech_sp500["extended tickers"])]

In [28]:
lst_tics_tech_500_set

[{'AAPL', 'AAPL*'},
 {'MSFT'},
 {'NVDA'},
 {'GOOG', 'GOOG*', 'GOOGL'},
 {'FB', 'FB*', 'META'},
 {'AVGO', 'BRCM'},
 {'ORCL'},
 {'CRM'},
 {'ADBE'},
 {'AMD'},
 {'TMO'},
 {'TMUS'},
 {'CSCO'},
 {'DHR'},
 {'INTU'},
 {'TXN'},
 {'IBM'},
 {'AMAT'},
 {'NOW'},
 {'VZ'},
 {'CAT'},
 {'CCZ', 'CMCSA'},
 {'T', 'T-PA', 'T-PC', 'TBB', 'TBC'},
 {'MU'},
 {'ETN'},
 {'LRCX'},
 {'ANET'},
 {'ADI'},
 {'PANW'},
 {'MDT'},
 {'ADP'},
 {'DE'},
 {'INTC'},
 {'SNPS'},
 {'APH'},
 {'DELL'},
 {'CDNS'},
 {'TT'},
 {'PLTR'},
 {'ITW'},
 {'NXPI'},
 {'CRWD'},
 {'CARR'},
 {'ROP'},
 {'FTNT'},
 {'ADSK'},
 {'CHTR'},
 {'JCI'},
 {'MPWR'},
 {'MCHP'},
 {'CMI'},
 {'EA'},
 {'VRSK'},
 {'AME'},
 {'CTSH'},
 {'IR'},
 {'SMCI'},
 {'HPQ'},
 {'BKR'},
 {'ON'},
 {'XYL'},
 {'ROK'},
 {'ANSS'},
 {'NTAP'},
 {'VLTO'},
 {'TTWO'},
 {'TYL'},
 {'DOV'},
 {'HPE', 'HPE-PC'},
 {'FTV'},
 {'FSLR'},
 {'KEYS'},
 {'GDDY'},
 {'TER'},
 {'STX'},
 {'WDC'},
 {'PTC'},
 {'HUBB'},
 {'LDOS'},
 {'WBD'},
 {'ZBRA'},
 {'FOX', 'FOXA'},
 {'VRSN'},
 {'SWKS'},
 {'ENPH'},
 {'FDS'},
 {'GEN'},
 {'IEX'},
 {'PNR'},
 {'NDSN'},
 {'TRMB'},
 {'JNPR'},
 {'JKHY'},
 {'FTI'},
 {'EPAM'},
 {'FFIV'},
 {'ITT'},
 {'QRVO'},
 {'HAS'},
 {'PAYC'},
 {'MTCH'},
 {'DAY'},
 {'PARA', 'PARAA'},
 {'CIEN'},
 {'ALTR'},
 {'AYI'},
 {'S', 'S*'},
 {'NOV'},
 {'HCP'},
 {'FLS'},
 {'LUMN'},
 {'DXC'},
 {'DV'},
 {'IPGP'},
 {'TDC'},
 {'TGNA'},
 {'TRIP'},
 {'SEDG'},
 {'DNOW'},
 {'PBI', 'PBI-PB'},
 {'XRX'},
 {'MTW'},
 {'STI'},
 {'SLE'}]

We leave some room again, we will deem a company is stable if there is less than 7 days of missing data.

In [29]:
lst_stable_14_24=[]

for ele_set in lst_tics_tech_500_set: 
    lst_stable_14_24.append(len(df_his_weight_14_24[df_his_weight_14_24.ticker.isin(ele_set)])>=2570)

In [30]:
lst_stable_14_24

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [32]:
len(lst_stable_14_24)

124

In [34]:
df_tech_sp500["stable 14 to 24"]=lst_stable_14_24

In [35]:
df_tech_sp500

,cik,name,entityType,sic,sicDescription,ownerOrg,insiderTransactionForOwnerExists,insiderTransactionForIssuerExists,tickers,exchanges,...,business_street1,business_street2,business_city,business_stateOrCountry,business_zipCode,business_stateOrCountryDescription,naics,stable 12 to 24,extended tickers,stable 14 to 24
0,320193,Apple Inc.,operating,3571.0,Electronic Computers,06 Technology,0,1,AAPL,Nasdaq,...,ONE APPLE PARK WAY,NaN,CUPERTINO,CA,95014,CA,334111,True,"AAPL*,AAPL",True
1,789019,MICROSOFT CORP,operating,7372.0,Services-Prepackaged Software,06 Technology,1,1,MSFT,Nasdaq,...,ONE MICROSOFT WAY,NaN,REDMOND,WA,98052-6399,WA,"511210,334614",True,MSFT,True
2,1045810,NVIDIA CORP,operating,3674.0,Semiconductors & Related Devices,04 Manufacturing,1,1,NVDA,Nasdaq,...,2788 SAN TOMAS EXPRESSWAY,NaN,SANTA CLARA,CA,95051,CA,334413,True,NVDA,True
3,1652044,Alphabet Inc.,operating,7370.0,"Services-Computer Programming, Data Processing...",06 Technology,1,1,"GOOGL,GOOG","Nasdaq,Nasdaq",...,1600 AMPHITHEATRE PARKWAY,NaN,MOUNTAIN VIEW,CA,94043,CA,"518210,541511",True,"GOOG,GOOGL,GOOG*",True
4,1326801,"Meta Platforms, Inc.",operating,7370.0,"Services-Computer Programming, Data Processing...",06 Technology,0,1,"META,FB",Nasdaq,...,1 META WAY,NaN,MENLO PARK,CA,94025,CA,"518210,541511",False,"FB*,FB,META",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,78814,PITNEY BOWES INC /DE/,operating,3579.0,"Office Machines, NEC",06 Technology,0,1,"PBI,PBI-PB","NYSE,NYSE",...,PITNEY BOWES INC,3001 SUMMER STREET,STAMFORD,CT,06926-0700,CT,"339940,333318,334519",False,"PBI,PBI-PB",False
120,1770450,Xerox Holdings Corp,operating,3577.0,"Computer Peripheral Equipment, NEC",06 Technology,0,1,XRX,Nasdaq,...,201 MERRITT 7,NaN,NORWALK,CT,06851,CT,"334418,333316,334613,334118",False,XRX,False
121,61986,MANITOWOC CO INC,operating,3531.0,Construction Machinery & Equip,06 Technology,1,1,MTW,NYSE,...,11270 WEST PARK PLACE,SUITE 10000,MILWAUKEE,WI,53224,WI,"333120,333923,336510",False,MTW,False
122,1881551,Solidion Technology Inc.,operating,3690.0,"Miscellaneous Electrical Machinery, Equipment ...",04 Manufacturing,0,1,STI,Nasdaq,...,13355 NOEL ROAD,SUITE 1100,DALLAS,TX,75240,TX,"333618,333318,333992,335129,335999",False,STI,False
123,1621672,"Super League Enterprise, Inc.",operating,7373.0,Services-Computer Integrated Systems Design,06 Technology,0,1,SLE,Nasdaq,...,"2912 COLORADO AVE, STE 203",NaN,SANTA MONICA,CA,90404,CA,541512,False,SLE,False

In [37]:
df_tech_sp500.to_csv("../../processed/tech_sp500_stable_extended_tickers.csv")